if theme.valine
    if theme.valine.enable == true
        a#comments
        #vcomments(style="margin:0 30px;")
        script(src='//cdn.jsdelivr.net/npm/valine/dist/Valine.min.js')
        script.
          var valine = new Valine({
            el:'#vcomments',
            notify:#{theme.valine.notify} || false, 
            verify:#{theme.valine.verify}|| false, 
            app_id:'#{theme.valine.appid}',
            app_key:'#{theme.valine.appkey}',
            placeholder:'#{theme.valine.placeholder}',
            path: window.location.pathname,
            avatar:'#{theme.valine.avatar}',
            avatar_cdn:'#{theme.valine.avatar_cdn}',
            serverURLs:'#{theme.valine.serverURLs}'
          })

if theme.waline
    if theme.waline.enable == true
        #waline()
        script(src='//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js')
        script.
          var waline = new Waline({
            el:'#waline',
            serverURL:'#{theme.waline.serverURL}'
          })

if theme.duoshuo
    .ds-thread(data-thread-key=page.path, data-title=page.title, data-url=page.permalink, data-author-key='1')
    script.
        var duoshuoQuery = {short_name:"#{theme.duoshuo}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();

if theme.disqus
    #disqus_thread
    link(href='https://unpkg.com/disqusjs@1.0/dist/disqusjs.css', rel='stylesheet')
    script(src="https://unpkg.com/disqusjs@1.0/dist/disqus.js")
    script.
        var shortname = '#{theme.disqus}';
        var identifier = '#{page.title}';
        var url = '#{config.url}/#{page.path}';
        var apikey = '8f6VeQ2PEO9jQm1qakkRGAqNTi2Ojezfq9JyhuSmDfLkWr8xT2pO955pln0JsBZs';
        (function() {
            var dsqjs = new DisqusJS({
                shortname: shortname,
                siteName: '',
                identifier: identifier,
                url: url,
                api: 'https://comments.iloft.xyz/api/',
                apikey: apikey,
                admin: '',
                adminLabel: ''
            });
        })();
