.copyright
    - var hexoURL = "https://hexo.io/";    
    - var homeURL = "https://www.iloft.xyz"
    - var sitemapURL = "/sitemap.xml";
    - var beianURL = "https://beian.miit.gov.cn/"
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=homeURL)!= config.author], Powered by #[a(href=hexoURL, target="_blank") Hexo] #[a(href=sitemapURL, target="_blank") Sitemap]
    p #[a(href=beianURL, target="_blank") 苏ICP备16033901号-3]
